{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-3 px-2 text-light">
<div class="d-flex">
{% if profile.avatar %}
<img src="{{profile.avatar.url}}" class="rounded" width="110" height="110" alt="Profil rasm"> 
{% else %}
<img src="{% static 'default/default.jpg'%}" class="rounded" width="100" alt="Profil rasm">
{% endif %}
<div class="d-flex flex-column mx-3">  
<p>Username : {{profile.user}}</p>
{% if profile.bio %}
<p>Bio : {{profile.bio}} <br>
{% else %}
<p>Bio : <span class="text-danger">Not filled</span> </p>
{% endif%}
{% if profile.pubg_id%}
Pubg id : 51217041371
{% else %}
<p>Pubg id : <span class="text-danger">Not filled</span> </p>
{% endif %}
</p>
</div>
</div>
<hr>    
<div class="d-flex justify-content-between align-items-center">
    <div>
        <h1>{{profile.points}} <span style="font-size: 20px;">points</span></h1>
    </div>
    <div>
        <h1> 0 <span style="font-size: 20px;">wins</span></h1>
    </div>
    <div>
        <h1> 0 <span style="font-size: 20px;">Trophies</span></h1>
    </div>
</div>
<div>
    <h3>Points history</h3>
    {% for point in points %}
    {{point}}
    {% endfor %}
</div>
<div class="d-flex my-2">
<a href="{% url 'editprofile' profile.pk %}" class="btn btn-success">Edit profile</a>
</div>
</div>
{% endblock content %}
