{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container py-3 px-2 text-light">
<div class="d-flex">
{% if profile.avatar %}
<img src="{{profile.avatar.url}}" class="rounded" width="110" height="110" alt="Profil rasm"> 
{% else %}
<img src="{% static 'default/default.jpg'%}" class="rounded" width="100" alt="Profil rasm">
{% endif %}
<div class="d-flex flex-column mx-3">  
<p>{{profile.user}}</p>
{% if profile.bio %}
<p>Bio : {{profile.bio}} <br>
{% else %}
<p>Bio : <span class="text-danger">Not filled</span> </p>
{% endif%}
{% if profile.pubg_id %}
Pubg id : {{profile.pubg_id}}
{% else %}
<p>Pubg id : <span class="text-danger">Not filled</span> </p>
{% endif %}
</p>
</div>
</div>
<hr>    
<table class="table table-dark table-borderless">
    <thead>
        <tr>
            <th>Points</th>
            <th>Wins </th>
            <th>Trophy</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h1> {{profile.points}}</h1></td>
            <td><h1> 0 </h1></td>
            <td><h1> 0 </h1></td>
        </tr>
    </tbody>
</table>

<table class="table table-dark table-borderless">
    <thead>
        <tr>
            <th>Matches</th>
            <th>Current Rank </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><h1> {{matches}}</h1></td>
            <td><h1> 0 </h1></td>
        </tr>
    </tbody>
</table>

<div>
    <h3>Points history</h3>
    {% for point in points %}
    <h5>{{point.player}</h5>}
    {% endfor %}
</div>
<div class="d-flex my-2">
<a href="{% url 'editprofile' profile.pk %}" class="btn btn-success">Edit profile</a>
</div>
</div>
{% endblock content %}
