{% extends "base.html" %}
{% load static %}

{% block title %} All Users {% endblock %}

{% block content %}
<div class="container text-light py-3">
 <h1>List of all users - {{allusers.count}}</h1>
 <hr>
 <table class="table">
    <thead>
        <tr class="bg-dark">
            <th>#</th>
            <th>Username</th>
            <th>profile</th>
        </tr>
    </thead>
    <tbody>
        {% for us in allusers %}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{us.username}}</td>
            <td> {% if us.profile.avatar %}
                <img src="{{us.profile.avatar.url}}" width="30" class="rounded-circle" alt="">
                 <a class="text-decoration-none" href="{% url 'profileview' us.profile.pk %}">{{us.profile}}</a>
                {% else %}
                <img src="{% static 'default/default.jpg' %}" width="30" class="rounded-circle" alt="">
                <a class="text-decoration-none" href="{% url 'profileview' us.profile.pk %}">{{us.profile}}</a>
                {% endif %}
            </td>

         </tr>
        {% endfor %}
    </tbody>
 </table>
 </div>
{% endblock content %}