{% extends 'base.html' %}

{% block content %}
<div class="container py-3 px-2 text-light">
<h3 class="text-center mt-1">Approval</h3>
<hr>    
<form action="" method="post">
    {% csrf_token %}
    <div class="d-flex">
    {{form.is_approved}} <span class="mx-2"> {{form.is_approved.label}} </span>
   </div>
   <div class="d-flex">
    {{form.checked}} <span class="mx-2"> {{form.checked.label}} </span>
   </div>
   <br>
    <button class="btn btn-success"> Approve </button>
</form>
</div>
{% endblock content %}
