{% extends 'base.html' %}

{% block content %}
<div class="container py-3 px-2 text-light">
<h3 class="text-center mt-1">All Ongoing, Finished and upcoming tournaments</h3>
<hr>    
{% if tournaments %}
<table class="table">
<thead>
    <tr>
        <th>#</th>
        <th>Tournament</th>
        <th>End date</th>
        <th>Actions</th>
    </tr>
</thead>
<tbody>
    {% for tournament in tournaments %}
    <tr>
        <td>{{forloop.counter}}</td>
        <td>{{tournament.tournament_name}}</td>
        <td>{{tournament.end_date}}</td>
        <th>
            {% if tournament.finished == True %}
            <a class="btn btn-primary btn-sm" href="{% url 'tour_detailall' tournament.pk %}">View</a>
            {% else %}
            <a class="btn btn-success btn-sm" href="{% url 'edittour' tournament.pk %}">Edit</a> | <a class="btn btn-primary btn-sm" href="{% url 'tour_detailall' tournament.pk %}">View</a>
            {% endif %}
        </th>

    </tr>
    {% endfor %}
</tbody>
</table>

{% else %}
<h4 class="text-center text-danger"> Unfortunately, Currently there is no any ongoing and upcoming tournaments.</h4>
{% endif %}
</div>
{% endblock content %}
