{% extends 'base.html' %}

{% block content %}
<div class="container py-3 px-2 text-light">
<h3 class="text-center mt-1">Fixtures</h3>
<hr>  


{% for round in rounds %}
<table class="table table-fluid w-100">
    <thead>
        <tr>
            <th class="text-center" colspan="3"> 
                {{round.round_number}}
            </th>
            </tr>
    </thead>
    <tbody class="text-center">
        {% for match in matches %}
        <tr>
               <td style="width: 33%;"><a class="text-decoration-none text-dark" href=""> {{match.player_1}} </a></td>
               <td class="border" style="width: 33%;"><a href="" class="text-decoration-none text-dark"> {{match.total}} </a></td>
               <td style="width: 33%;"> <a href="" class="text-decoration-none text-dark"> {{match.player_2}} </a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endfor %}
</div>
{% endblock content %}
