{% extends 'base.html' %}

{% block content %}
<div class="container py-3 px-2 text-light">
<h3 class="text-center mt-1">{{tournament.tournament_name}}</h3>
<hr>    
<div class="d-flex flex-column">
    <h5 class="">Tournament name : {{tournament.tournament_name}}</h5>
    <h5 class="">Type of weapon : {{tournament.weapon}}</h5>
    <h5 class="">Registered participants : 28</h5>
    <h5 class="">Number of participants : {{tournament.participants}}</h5>
    <h5 class="">Type of squad : {{tournament.squad}}</h5>
    <h5 class="">Type of weapon : {{tournament.start_date}}</h5>
    <h5 class="">{{tournament.tournament_rules|linebreaks}}</h5>
</div>
<form action="" method="POST">
{% csrf_token %}
{{form}}

{{participants}}
{{registered}}
{{count}}
<button class="btn btn-primary fw-bold d-block mx-auto px-5 py-2">Apply now </button>

{% if field.errors %}
        <div class="invalid-feedback">
          {% for error in field.errors %}
            {{ error }}
          {% endfor %}
        </div>
      {% endif %}
</form>
</div>
{% endblock content %}
