{% load static %}
<nav class="navbar navbar-expand-lg bg-warning">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">Pubg Tournaments</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex align-items-center">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item d-flex align-items-center">
            <a class="nav-link disabled" href="#">Leadersboard <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
              <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2m3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2M5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1"/>
            </svg></a>
          </li>
          
          {% if user.is_superuser %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              All Settings
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'advancedtourlist' %}">All Tournaments {% if waiting %}<span class="badge text-bg-danger badge-sm">{{waiting}}</span>{% endif %}</a></li>
              <li><a class="dropdown-item" href="#">All Rounds</a></li>
              <li><a class="dropdown-item" href="#">Matches</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Advanced</a></li>
            </ul>
            {% endif %}
          {% if user.is_authenticated %}
          <li class="nav-item">
            {% if profile.avatar %}
            <a class="nav-link" href="{% url 'profile' profile.pk %}"><img style="border-radius: 50%;" width="30" height="30" src="{{profile.avatar.url}}" alt=""></a>
            {% else %}
            <a class="nav-link" href="{% url 'profile' profile.pk %}"><img style="border-radius: 50%;" width="30" height="30" src="{% static 'default/default.jpg'%}" alt=""></a>
            {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'register' %}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
            </li>  
          {% endif %}
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>